# Dependencias
node_modules/
**/node_modules/

# Variables de entorno y secretos 
*.env
.env.*
backend/.env.*
!.env.example
!**/.env.example

# Carpetas de compilación 
dist/
**/dist/
build/
**/build/

# Archivos del Sistema Operativo y Editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs de errores
*.log
npm-debug.log*
